<a href="https://colab.research.google.com/github/vinaylanjewar/SQL_Case_Study_1_Danny-s_Dinner/blob/main/VINAY_SQL_Case_Study_1_Danny's_Dinner.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Case Study 1 - Danny's Diner**

### **Introduction**

### Danny seriously loves Japanese food so in the beginning of 2021, he decides to embark upon a risky venture and opens up a cute little restaurant that sells his 3 favourite foods: sushi, curry and ramen.

### Danny’s Diner is in need of your assistance to help the restaurant stay afloat - the restaurant has captured some very basic data from their few months of operation but have no idea how to use their data to help them run the business.

### **Problem Statement**

### Danny wants to use the data to answer a few simple questions about his customers, especially about their visiting patterns, how much money they’ve spent and also which menu items are their favourite. Having this deeper connection with his customers will help him deliver a better and more personalised experience for his loyal customers.

### He plans on using these insights to help him decide whether he should expand the existing customer loyalty program - additionally he needs help to generate some basic datasets so his team can easily inspect the data without needing to use SQL.

### Danny has provided you with a sample of his overall customer data due to privacy issues - but he hopes that these examples are enough for you to write fully functioning SQL queries to help him answer his questions!

### Danny has shared with you 3 key datasets for this case study:

### sales
### menu
### members

![D1.PNG]()

### **Example Datasets**

### All datasets exist within the dannys_diner database schema - be sure to include this reference within your SQL scripts as you start exploring the data and answering the case study questions.

### **Table 1: sales**

### The sales table captures all customer_id level purchases with an corresponding order_date and product_id information for when and what menu items were ordered.

### **Table 2: menu**

### The menu table maps the product_id to the actual product_name and price of each menu item.

### **Table 3: members**

### The final members table captures the join_date when a customer_id joined the beta version of the Danny’s Diner loyalty program.

In [ ]:
!pip install pymysql
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.pool import NullPool
def mysql(query:'Write the query here .'):
    '''
    This function fetches data from database and returns the result.
    '''
    try:
        engine_db = create_engine('mysql+pymysql://almafolk:8l39zk60q@learning-activity.cejogcrmn6il.ap-south-1.rds.amazonaws.com:3306/assignment', poolclass=NullPool )
        conn = engine_db.connect()
        # Reading Data
        df = pd.read_sql_query(query, conn)

        #if your connection object is named conn
        if not conn.closed:
            conn.close()
        engine_db.dispose()
        return df
    except Exception as e:
        print(e)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.8 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

### These are some questions that can be answered with the help of SQL.

### 1. What is the total amount each customer spent at the restaurant?

In [ ]:
mysql('''SELECT s.customer_id, SUM(m.price) AS amount_spent 
         FROM sales s LEFT JOIN menu m 
         ON s.product_id = m.product_id 
         GROUP BY s.customer_id ;''')

  customer_id  amount_spent
0           A          76.0
1           B          74.0
2           C          36.0

### 2. What was the first item from the menu purchased by each customer?

In [ ]:
mysql('''SELECT customer_id, product_name
         FROM sales
         JOIN menu
         ON sales.product_id = menu.product_id
         ORDER BY order_date, customer_id, product_name DESC 
         LIMIT 4;''')

  customer_id product_name
0           A        sushi
1           A        curry
2           B        curry
3           C        ramen

### 3.How many days has each customer visited the restaurant?

In [ ]:
mysql('''SELECT customer_id,
         COUNT(DISTINCT order_date)
         FROM sales
         GROUP BY customer_id;''')

  customer_id  COUNT(DISTINCT order_date)
0           A                           4
1           B                           6
2           C                           2

### 4.What is the most purchased item on the menu and how many times was it purchased by all customers?

In [ ]:
mysql('''SELECT s.product_id,
         m.product_name,
         COUNT(s.product_id) as most_purchased
         FROM sales s
         LEFT JOIN menu m on s.product_id = m.product_id
         GROUP BY s.product_id,
         m.product_name
         ORDER BY most_purchased DESC
         LIMIT 3;''')

   product_id product_name  most_purchased
0           3        ramen               8
1           2        curry               4
2           1        sushi               3

### 5.Which item was the most popular for each customer?

In [ ]:
mysql('''WITH r AS
        (SELECT s.customer_id,m.product_name,
         COUNT(s.product_id) as count,
         DENSE_RANK() OVER (PARTITION BY s.customer_id ORDER BY COUNT(s.product_id) DESC) AS r
         FROM menu m
         JOIN sales s
         ON s.product_id = m.product_id
         GROUP BY s.customer_id, s.product_id, m.product_name)
         SELECT customer_id, product_name, count
         FROM r
         WHERE r = 1''')

  customer_id product_name  count
0           A        ramen      3
1           B        curry      2
2           B        sushi      2
3           B        ramen      2
4           C        ramen      3

### 6.Which item was purchased first by the customer after they became a member?

In [ ]:
mysql('''SELECT s.customer_id, s.order_date, m1.product_name
         FROM sales AS s
         JOIN members as m
         ON s.customer_id = m.customer_id
         JOIN menu m1
         ON s.product_id = m1.product_id
         WHERE s.order_date >= m.join_date
         GROUP BY customer_id''')

  customer_id  order_date product_name
0           B  2021-01-11        sushi
1           A  2021-01-07        curry

### 7. Which item was purchased just before the customer became a member?

In [ ]:
mysql('''WITH r AS
        (SELECT s.customer_id,m.product_name, order_date,
         DENSE_RANK() OVER(PARTITION BY s.customer_id ORDER BY s.order_date DESC) AS r
         FROM menu m
         JOIN sales s
         ON s.product_id = m.product_id
         JOIN members as m2
         ON m2.customer_id = s.customer_id
         WHERE s.order_date < m2.join_date
         ORDER BY order_date DESC)
         SELECT customer_id, order_date, product_name
         FROM r
         WHERE r = 1''')

  customer_id  order_date product_name
0           B  2021-01-04        sushi
1           A  2021-01-01        sushi
2           A  2021-01-01        curry

### 8.What is the total items and amount spent for each member before they became a member?

In [ ]:
mysql('''SELECT s.customer_id, COUNT(DISTINCT s.product_id) AS unique_menu_item, SUM(mm.price) AS total_sales
         FROM sales AS s 
         JOIN members AS m
         ON s.customer_id = m.customer_id
         JOIN menu AS mm
         ON s.product_id = mm.product_id
         WHERE s.order_date < m.join_date
         GROUP BY s.customer_id;''')

  customer_id  unique_menu_item  total_sales
0           A                 2         25.0
1           B                 2         40.0

### 9.If each $1 spent equates to 10 points and sushi has a 2x points multiplier - how many points would each customer have?

In [ ]:
mysql('''WITH points 
         AS (SELECT s.customer_id, s.product_id, m.price,
             CASE 
             WHEN product_id = 1 THEN price * 20
             ELSE price * 10
             END AS points
             FROM sales s
             JOIN menu m USING(product_id))
         SELECT customer_id, SUM(points) AS total_points
         FROM points GROUP BY customer_id;''')

  customer_id  total_points
0           A         860.0
1           B         940.0
2           C         360.0

### 10.Join All The Things. Recreate the table with: customer_id, order_date, product_name, price, member (Y/N)

In [ ]:
mysql('''SELECT s.customer_id, s.order_date, m.product_name, m.price,
         CASE
         WHEN s.order_date < m1.join_date THEN 'N'
         WHEN s.order_date >= m1.join_date THEN 'Y'
         ELSE 'N'
         END AS member
         FROM sales s
         JOIN menu m USING(product_id)
         LEFT JOIN members m1 USING(customer_id)''')

   customer_id  order_date product_name  price member
0            A  2021-01-01        sushi     10      N
1            A  2021-01-01        curry     15      N
2            A  2021-01-07        curry     15      Y
3            A  2021-01-10        ramen     12      Y
4            A  2021-01-11        ramen     12      Y
5            A  2021-01-11        ramen     12      Y
6            B  2021-01-01        curry     15      N
7            B  2021-01-02        curry     15      N
8            B  2021-01-04        sushi     10      N
9            B  2021-01-11        sushi     10      Y
10           B  2021-01-16        ramen     12      Y
11           B  2021-02-01        ramen     12      Y
12           C  2021-01-01        ramen     12      N
13           C  2021-01-01        ramen     12      N
14           C  2021-01-07        ramen     12      N